
[Unit]
# Service description shown in status messages.
Description=Let's Encrypt renewal service

[Service]
# Type of the service. Run and exit immediately.
Type=oneshot

# Renew certificates by running certbot.
ExecStart=/home/neko/neko-config/letsencrypt/certbot.sh

